.NavigationItem {
    height: 100%;
}

.NavigationItem a {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    display: block;
    border-bottom: 4px transparent;
    box-sizing: border-box;
    height: 100%;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {

}